# General
__pycache__/
*.py[cod]
*$py.class

# Distributions
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.vs/

# Logs
*.log
error_log.txt

# OS
.DS_Store
Thumbs.db
